# Ignore all dotfiles...
.*
!.codespellignore
!.gitattributes
!.git-blame-ignore-revs
!.github/
!.pre-commit-config.yaml
!.readthedocs.yaml
!.ruff.toml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files ...
*.pyc

# Documentation
Docs/_build
Docs/_moduledescriptions

# CLI module translation files
Docs/_extraCLI/*_tr.h
Modules/CLI/*/*_tr.h


build
temp
miniSlicer/build
result
develop
script/tmp_all
script/temp

# Do not ignore .env files
!.env
# 排除压缩文件夹
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.tar.gz

