# Ignore all dotfiles...
.*
!.codespellignore
!.gitattributes
!.git-blame-ignore-revs
!.github/
!.pre-commit-config.yaml
!.readthedocs.yaml
!.ruff.toml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files ...
*.pyc

# Documentation
Docs/_build
Docs/_moduledescriptions

# CLI module translation files
Docs/_extraCLI/*_tr.h
Modules/CLI/*/*_tr.h

secret
build
temp
miniSlicer/build
result
develop
script/tmp_all
script/temp
# Ignore environment configuration files
# 忽略环境配置文件，如.env和.env.local等
# 前面的行（-+.env和-+.env.*）是错误的语法，应该删除
# 正确的语法是直接使用.env和.env.*来忽略这些文件
.env
.env.*

# 排除压缩文件夹
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.tar.gz

# 本地临时构建目录
build-vtl
build-mini

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.ilg
*.idx
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*_minted*

